!!!
%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"}
    %title Evil Villain's Bomb
    stylesheet_link_tag "application"

  %body
    .container
      %h2 The bomb's current status is #{locals[:status]}
      = yield
    .reset-button
      %form{:action => "reset", :method => "post"}
        %input{:type => "submit", :value => "Reset", :class => "button"}
